.speakers {
  background-color: #f8f7ff;
  position: relative;
  font-family: Inter;
}
.speakers::after {
  content: "";
  position: absolute;
  height: 160px;
  width: 200px;
  top: -2.5rem;
  right: 7rem;
  background: url("./pattern.svg") no-repeat;
  background-position-x: 90%;
  background-position-y: -10px;
  z-index: 100;
}

.pattern {
  background-color: #e2def0;
  height: 100%;
  width: 5px;
  left: 7rem;
  position: absolute;
}
.pattern::before {
  content: "";
  position: absolute;
  height: 160px;
  width: 200px;
  top: -150px;
  background-color: #e2def0;
  background: url("./pattern2.svg") no-repeat;
}
.pattern::after {
  content: "";
  position: absolute;
  height: 54px;
  width: 45px;
  bottom: 0px;
  left: -22px;
  background-color: #e2def0;
  background: url("./pattern3.svg") no-repeat;
}

.title {
  text-align: center;
  padding: 5rem 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
}
.list {
  display: flex;
  flex-wrap: wrap;

  padding-bottom: 5rem;
}

.speaker {
  margin: 2rem;
  margin-bottom: 2rem;
}
.speaker_name {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #2f2d32;
  margin-bottom: 0.2rem;
}

.speaker_avatar {
  height: 180px;
  width: 180px;
  border-radius: 156px;
  border-bottom-left-radius: 0px;
}
.speaker_role {
  font-size: 12px;
  line-height: 15px;
  color: #45414d;
  margin: 0rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 1240px) {
  .container {
    padding: 1rem;
  }
  .list {
    justify-content: space-around;
  }
}

@media (max-width: 1360px) {
  .pattern {
    display: none;
  }
  .speakers::after {
    display: none;
  }
}

@media (max-width: 450px) {
  .title {
    padding: 2rem 0px;
  }
  .list {
    justify-content: center;
  }
  .speaker_avatar {
    height: 250px;
    width: 250px;
    border-radius: 256px;
    border-bottom-left-radius: 0px;
  }
  .speaker_name {
    font-size: 20px;
    margin-bottom: 0.5rem;
    /* max-width: 200px; */
  }
  .speaker_role {
    font-size: 16px;
    /* max-width: 200px; */
  }
}
