.hero {
  background: url(../../public/back.png),
    linear-gradient(254.4deg, #7360d4 0%, #4732af 98.94%);
  font-family: Inter;
  color: #ffffff;
  padding: 5rem 0rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.main {
  padding: 3rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 350px);
}

.content {
  text-align: left;
  max-width: 450px;
}

.img_container {
  max-width: 60%;
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
}
.img {
  width: 100%;
  filter: drop-shadow(35.6125px 52.2317px 99.715px rgba(0, 0, 0, 0.19));
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 49px;
  line-height: 124.2%;
  max-width: 900px;
}

.button {
  padding: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 8px;
  color: #4833b0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: none;
  background-color: #ffffff;
}

/* Modal */

.modal_container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal_title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #301b8b;
  text-align: center;
}
.modal_options {
  display: flex;
  /* background-color: red; */
  flex-direction: row;
  justify-content: space-between;
  /* align-items: ; */
}
.modal_option {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.modal_option_text {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #301b8b;
}

.modal_button {
  padding: 10px 4rem;
  background: #4835a9;
  border-radius: 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin: auto;
  margin-top: 1rem;
}
.modal_button:disabled {
  background-color: #f8f6fe;
  color: rgba(72, 53, 169, 0.4);
}

/* share  */
.share {
}
.copy {
  background: #fefefe;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #4833b0;
  padding: 1rem 2rem;
}
.github {
  margin-right: 1rem;
}
.link {
  margin-right: 1rem;
}
.icons {
  margin-top: 2rem;
}
.icon {
  margin-right: 1rem;
}

@media (max-width: 450px) {
  .modal_options {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 70vw;
  }
  .modal_option_text {
    display: none;
  }
}

@media (max-width: 750px) {
  .main {
    padding: 2rem 0px;
    padding-bottom: 1rem;
    flex-direction: column;
  }
  .content {
    text-align: center;
    max-width: 450px;
  }
  .img_container {
    margin: 2rem 0px;
    max-width: 100%;
  }
  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 124.2%;
    padding: 0px 0.5rem;
  }

  .button {
    width: 100%;
  }
  .share {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
