.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: auto;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: red; */
}

.logo {
  max-width: 90%;
  max-height: 50px;
  margin: 2rem;
  margin-top: 1rem;
}

.title {
  margin-top: 4rem;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  text-transform: uppercase;

  color: #2e2c37;
  text-align: center;
}

@media (max-width: 850px) {
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: blue; */
  }
  .logo {
    margin: 0.5rem;
  }
}
