.hero {
  background: url(../../public/back.png),
    linear-gradient(254.4deg, #4732af 0%, #7360d4 98.94%);
  font-family: Inter;
  color: #ffffff;
  padding: 5rem 0rem;
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.main {
  padding: 5rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 49px;
  line-height: 124.2%;
  text-align: center;
  max-width: 900px;
}
.ma {
  position: relative;
}
.ma::after {
  content: "";
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 6;
  right: 55;
  background-image: url(./ma.png);
  background-size: contain;
}

.date {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

@media (max-width: 750px) {
  .main {
    padding: 2rem 0px;
    padding-bottom: 1rem;
  }
  .ma::after {
    content: "";
    height: 35px;
    width: 35px;
    bottom: 6px;
  }
  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 124.2%;
    padding: 0px 0.5rem;
  }
}
