.hero {
  background: url(../../public/back.png),
    linear-gradient(254.4deg, #4732af 0%, #7360d4 98.94%);
  font-family: Inter;
  color: #ffffff;
  padding: 5rem 0rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.main {
  padding: 3rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 350px);
}
.date {
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.content {
  text-align: left;
  max-width: 450px;
}

.img_container {
  margin: 5rem 0px;
  max-width: 60%;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-top: 0rem;
}
.img {
  width: 100%;
  filter: drop-shadow(35.6125px 52.2317px 99.715px rgba(0, 0, 0, 0.19));
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 49px;
  line-height: 124.2%;
  max-width: 900px;
  text-align: center;
}

.button {
  padding: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border-radius: 8px;
  color: #4833b0;
}

@media (max-width: 750px) {
  .main {
    padding: 2rem 0px;
    padding-bottom: 1rem;
    flex-direction: column;
  }
  .content {
    text-align: center;
    max-width: 450px;
  }
  .img_container {
    margin: 2rem 0px;
    max-width: 100%;
  }
  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 124.2%;
    padding: 0px 0.5rem;
  }

  .button {
    width: 100%;
    height: 57px;
  }
}
