.agenda {
  background: url(../../public/back.png),
    linear-gradient(254.4deg, #4732af 0%, #7360d4 98.94%);
  font-family: Inter;
  color: #ffffff;
  padding: 5rem 0rem;
}

.main {
  display: flex;
}
.title {
  margin: 0.5rem 3px;
  font-weight: 600;
  font-size: 36px;
  line-height: 124.2%;
}
.description {
  font-weight: normal;
  font-size: 18px;
  line-height: 170%;
  margin: 0.5rem 3px;
}

.menu_container {
  min-width: 302px;
  height: fit-content;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(8px);
  border-radius: 14px;
  padding: 12px;
}
.menu_item {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.menu_item_date {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  margin: 0.5rem 3px;
}
.menu_item_title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0.5rem 3px;
  opacity: 0.7;
}

.talks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 2rem;
}

.talk {
  background: rgba(0, 0, 0, 0.15);
  /* backdrop-filter: blur(8px); */
  border-radius: 14px;
  margin-bottom: 2rem;

  margin: 10px;
  color: #ffffff;
  width: 46%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  /* overflow: hidden; */
}
.talk_container {
  padding: 24px;
}

.talk:hover > .add_to_calendar {
  display: flex;
}
.add_to_calendar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(75, 58, 161, 0.4);
  backdrop-filter: blur(6px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 22;
}
.add_to_calendar_link {
  background: #ffffff;
  backdrop-filter: blur(4px);
  border-radius: 14px;
  padding: 20px 30px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #4833b0;
  position: relative;
  padding-left: 40px;
}
.add_to_calendar_link::before {
  content: "";
  height: 20px;
  width: 20px;
  top: 22px;
  left: 20px;
  position: absolute;
  background: url(./notif.png) no-repeat;
}
.talk_title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  flex: 1;
  margin-top: 2px;
}
.time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.talk_time {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
}
.talk_speaker {
  display: flex;
  align-items: center;
}
.talk_speaker_avatar {
  width: 46px;
  height: 46px;
  border-radius: 200px;
  margin-right: 10px;
}
.talk_speaker_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0.5rem 3px;
}
.talk_speaker_role {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.7;
  margin: 0.5rem 3px;
}

@media (max-width: 1000px) {
  .talks {
    justify-content: space-around;
    padding-left: 0rem;
  }
  .talk {
    width: 90%;
  }
  .speakers::after {
    display: none;
  }
}

@media (max-width: 700px) {
  .main {
    flex-direction: column;
  }
  .talk {
    width: 100%;
  }
  .menu_container {
    display: flex;
    overflow: scroll;
    width: calc(100vw - 2rem);
  }
  .menu_item {
    min-width: 200px;
  }
  .menu_item_arrow {
    display: none;
  }
}
