html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(300.87deg, #220C79 3.7%, #4A37AB 100%);
  min-height: 100%; 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
