.header {
  background-image: url("../public/background3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 944px;
}
.heros {
  background-image: url("../public/moha_meriem.png");
  background-size: auto;
}

.top_left_icon {
  margin-top: 78px;
  margin-left: 186px;
  width: fit-content;
}

.top_right_icon {
  margin-left: auto;
  margin-top: 136px;
  margin-right: 112px;
  width: fit-content;
}

.bottom_left_icon {
  width: fit-content;
  margin-left: 107px;
}

.bottom_right_icon {
  width: fit-content;
  margin-left: auto;
  margin-right: 84px;
}

.top_icons,
.bottom_icons {
  display: flex;
}

.main {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  margin-top: auto;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 20px;
}

.footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #ffffff;
  bottom: 0;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 49px;
  line-height: 124.2%;
  text-align: center;
  color: #ffffff;
  width: 875px;
}

.titleComingSoon {
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  color: #ffffff;
  width: 875px;
  margin-top: 20px;
}
.subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ffffff;
  margin-top: 43px;
  margin-bottom: 48px;
}

.logoContaier {
  width: 100%;
  display: flex;
}

.logo {
  width: fit-content;
  margin-top: 55px;
  margin-left: 20%;
}

.powredBy {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  position: absolute;
  right: 99px;
  top: 76px;
}

.about {
  margin-top: 100px;
  width: 491px;
  justify-content: center;
}
.aboutTitle {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 124.2%;
  color: #08133a;
  text-align: center;
}

.aboutDescription {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  text-align: center;
  color: #575560;
}

.registerBottom {
  background-image: url("../public/background4.png");
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  height: 944px;
}

@media (max-width: 850px) {
  .top_icons,
  .bottom_icons,
  .powredBy {
    visibility: hidden;
  }

  .title {
    width: 316px;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 124.2%;
  }

  .subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 24px;
    margin-bottom: 48px;
  }

  .inputDiv {
    display: flex;
    flex-direction: column;
  }

  .input {
    width: 290px;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.14),
      rgba(255, 255, 255, 0.14)
    );
    border-radius: 8px;
    margin-bottom: 13px;
  }

  .button {
    width: 290px;
    height: 57px;
    background: #fefefe;
    border-radius: 8px;
  }

  .titleComingSoon {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    width: 875px;
    margin-top: 20px;
  }
}
