.top_left_icon{
  margin-top: 78px;
  margin-left: 186px;
  width: fit-content;
}

.top_right_icon{
  margin-left: auto;
  margin-top: 136px;
  margin-right: 112px;
  width: fit-content;
}

.bottom_left_icon{ 
  width: fit-content;
  margin-left: 107px;
}

.bottom_right_icon{ 
  width: fit-content;
  margin-left: auto;
  margin-right: 84px;
}

.top_icons, .bottom_icons{
  display: flex;
} 

.main{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.footer_text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway; 
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
  bottom: 0;

}
 
.mainDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  font-weight: 800;
  font-size: 49px;
  line-height: 124.2%;
  text-align: center;
  color: #FFFFFF;
  width: 875px; 
}

.titleComingSoon{
  font-weight: bold;
  font-size: 100px;
  text-align: center;
  color: #FFFFFF;
  width: 875px; 
  margin-top: 20px;
}
.subtitle{
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  margin-top: 43px; 
  margin-bottom: 48px; 
}

.input{
  background: #4538A4;
  border-radius: 8px 0px 0px 8px;
  width: 343px;
  height: 60px;
  border: none;
  text-indent: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  border: none;
}

.input:focus {
  outline: none;
}

.input::-webkit-input-placeholder { /* Edge */
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.9);
  padding: 20px;

}

.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.9);

}

.input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.9);
}

.button{
  width: 160px;
  height: 60px; 
  background: #FEFEFE;
  border-radius: 0px 8px 8px 0px;
  border: none;
  cursor: pointer;
}


.button_title{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #220C79;
}

.logoContaier{
  position: absolute;
  width: 100%;  
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo{
  width: fit-content;
  margin-top: 55px;
}

.powredBy{
  font-weight: normal;  
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: capitalize;
  color: #FFFFFF; 
  position: absolute;
  right: 99px;
  top: 76px; 
}

@media (max-width: 850px) {
  .top_icons, .bottom_icons, .powredBy{
    visibility: hidden;
  }

  .title{
    width: 316px; 
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 124.2%;
  }

  .subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;  
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 24px; 
    margin-bottom: 48px; 
  }

  .inputDiv{
    display: flex;
    flex-direction: column;
  }

  .input{
    width: 290px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.14));
    border-radius: 8px;
    margin-bottom: 13px; 
  }

  .button{
    width: 290px;
    height: 57px;
    background: #FEFEFE;
    border-radius: 8px;
  }

  .titleComingSoon{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    width: 875px; 
    margin-top: 20px;
  }

}

 