.top_left_icon{
  margin-top: 78px;
  margin-left: 186px;
  width: fit-content;
}

.top_right_icon{
  margin-left: auto;
  margin-top: 136px;
  margin-right: 112px;
  width: fit-content;
}

.bottom_left_icon{ 
  width: fit-content;
  background: white;
  margin-left: 107px;
}

.bottom_right_icon{ 
  width: fit-content;
  background: white;
  margin-left: auto;
  margin-right: 84px;
}


.top_icons, .bottom_icons{
  display: flex;
} 


.main{
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}



.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 
.footer {
  width: 100%;
  margin-bottom: 50px;
  display: flex;

  margin-top: auto;
  flex-direction: column;

}

.footer_text{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway; 
  font-size: 14px;
  line-height: 16px;
  text-transform: capitalize;
  color: #FFFFFF;
}
 