.mainDiv {
  display: flex;
  margin-top: 125px;
  width: 100%;
}


.leftDiv {
  /* margin-top: 125px; */
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.leftDivContent { 
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.rightDiv {
  display: flex;
  /* margin-top: 125px; */
  width: 40%;
  justify-content: center;
  align-items: center;
}

.rightDivContent {
  /* margin-top: 125px; */ 
  justify-content: flex-start;
  align-items: flex-start;
}


.title {
  font-family: Raleway;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  font-size: 64px;
  width: 375px;
  color: #FFFFFF;
}

.subtitle {
    width: 346px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 130%;
    color: #ffffff;
    margin-top: 24px;
    margin-bottom: 31px;
}


.githubButton{
    padding: 20px;
    width: 200px;
    height: 64px;
    background: #FEFEFE;
    border-radius: 8px;
}

.shareActions{
  padding: 20px;
  width: 200px;
  height: 64px;
  background: #FEFEFE;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-left: 10px;
}

.ticketNumber{
  position: absolute;
  transform: rotate(90deg);
  left: 414px;
  font-size: 27px;
  top: 97px;
  color: white;
  text-align: center;
  width: 266px;
}

.ticketBadge{
  display: flex;
}

.ticketBadgeInfo{
  position: absolute;
  margin-top: 26px;
  margin-left: 64px;
}

.usernameInfo{
  display: flex;
}

.username{ 
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;  
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  margin-left: 8px;
}

.ticketNumberMobile{
  visibility: hidden;
}

.githubUsername{
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #B2A6EA;
  margin-left: 4px;
  color: #B2A6EA;
}

.githubIcon{
  margin-left: 8px; 
  margin-top: 4px;
  width: 20px;
  height: 20px;
}

.usenameIcon{
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.mainDivAfterAuth{
  display: flex;
  margin-top: 156px;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


.input{
  background: #4538A4;
  border-radius: 8px 0px 0px 8px;
  width: 343px;
  height: 60px;
  border: none;
  text-indent: 20px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  border: none;
}

.input:focus {
  outline: none;
}

.input::-webkit-input-placeholder { /* Edge */
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.9);
  padding: 20px;

}

.input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.9);

}

.input::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.9);
}


.button{
  width: 160px;
  height: 60px; 
  background: #FEFEFE;
  border-radius: 0px 8px 8px 0px;
  border: none;
  cursor: pointer;
}


.button_title{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #220C79;
}

@media (max-width: 850px) {

  .title {
    font-size: 45px;

  }
  
  .subtitle {
    font-size: 15px;

      margin-bottom: 0;
  }

  
.githubButton{
  padding: 15px;
  width: 200px;
}


  .mainDiv{
    flex-direction: column;
  }

  .leftDiv, .rightDiv{
    width: auto;
    justify-content: center;
    align-items: center;
  }

  .rightDivContent, .leftDivContent{
    text-align: center;
  }
 
  .username{ 
    font-weight: 800;
    font-size: 16.7619px;
    line-height: 100%;
    color: #FFFFFF
  }

  .ticketNumberMobile{
    font-weight: 800;
    font-size: 16.7619px;
    line-height: 100%;
    color: #FFFFFF;
    visibility: visible;
  }

  .githubUsername{
    font-size: 8.38095px;
    line-height: 100%;
    color: #B2A6EA;
  }
  
  .ticketBadgeInfo{
    margin-top: 15px;
    margin-left: 20px;
  }
  
  .githubIcon{
    margin-left: 8px; 
    margin-top: 4px;
    width: 11px;
    height: 11px;
  }

  .usenameIcon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .usernameInfo{
    margin-top: 50px;
  }
}



